*,*::after, *::before {
    box-sizing: border-box;
}

div > * {
    transition: all 0.2s linear;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    margin-top: 1rem;
    margin-right: 1.5rem; 
    padding: 2rem 5rem;
    flex-wrap: wrap;
}

section {
    margin: 2rem 1rem;
}

.top-container {
  height: 94vh;
  padding: 55px;
  line-height: 1.5rem;
  text-align: center;
  color: #fff;
  background-color: #000;
  background-image: url("../img/infinity.gif");
  background-size: cover;
  background-position: center;
}

.p-about {
    max-width: 42rem;
    text-align: left;
}

.header {
  padding: 10px 10px;
  text-align: center;
  /* background-color: #f1f2f6; */
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;;
}

.sticky + .content {
  padding-top: 102px;
}

.top-logo {
    position: absolute;
    left: 24%;
    top: 32%;
}

.top-logo a{
    text-decoration: none;
    color: inherit;
}

.top-logo img{
    width: 3rem;
    margin: 0.8rem;
    display: inline-block;
    vertical-align: middle;
}

.top-logo h1{
    display: inline-block;
    vertical-align: middle;
}

.top-logo a.intext-link{
    color: inherit;
    text-decoration: underline;
}

a#sticky-logo {
    visibility: hidden;
    float: left;
    margin: 0 0.6rem;
}

a#sticky-logo img {
    width: 1.5rem;
}
/* for debugging */
/* .main div {
    border: #ccc 1px solid;
} */

.placeholder {
    height: 25rem;
    width: 100%;
    border: #ccc solid 1px;
}

/* Headings */
h1 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 2.3em;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    font-weight: 500;
    color: #57606f;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
}

h4 {
    font-size: 1.2em;
    font-weight: 400;
    color: #57606f;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    max-width: 46em;
    line-height: 1.5em;
}

#work h2, #about h2, #contact h2{
    border-left: 8px solid #63cdda;
    padding-left: 1rem; 
}

.color-text {
    color: #63cdda;
}

.emphasize-text {
    font-size: 1.4rem;
    font-weight: 400;
    margin-right: 0.2rem;
}

/* button */
a.nav-button {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    color: #000000;
    border-bottom: #000 1px solid;
    margin: 0.8rem 1rem;
    padding: 0.2rem 0.5rem;
}

a.nav-button:hover {
    border-bottom: transparent 1px solid;
    transition: color 0.3s;
}

a.nav-button:focus {
    color: #63cdda;
    border-bottom: transparent 1px solid;
    transition: color 0.3s;
}

a.nav-button img {
    width: 4rem;
}

/* navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    top: 10rem;
    right: 0;
    position: fixed;
}

li {
    cursor: pointer;
}

li a {
    display: block;
}

.grid-box {
    /* margin: 0 1em 1em 1em; */
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.sub-grid-box {
    padding: 0;
    /* margin: 1em; */
    width: 45%;
    height: auto;
}

a.link-button {
    padding: 0.6rem 2.4rem;
    margin: 0 1.6rem;
    font-size: 1rem;
    font-weight: 400;
    color: #57606f;
    background-color: white;
    text-decoration: none;
    width: 12rem;
    text-align: center;
    letter-spacing: 0.06rem;
    border: 2px solid #57606f;
}
    
a.link-button:hover {
    color: white;
    background-color: #57606f;
    transition: background-color 0.3s;
}
    
a.link-button-dark {
    padding: 0.6rem 2.4rem;
    margin: 0 1.6rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #57606f;
    text-decoration: none;
    width: 12rem;
    text-align: center;
    letter-spacing: 0.06rem;
    border: 2px solid #57606f;
    color: white;
}
    
a.link-button-dark:hover {
    color: #57606f;
    background-color: white;
    border: 2px solid #57606f;
    transition: background-color 0.3s;
}

.float-right {
    float: right;
}

a.intext-link {
    color: #000;
}

a.intext-link:hover, a.intext-link:focus {
    color: #57606f;
}

a.img-cover img {
    width: 100%;
    background-color: #ccc;
    height: 15rem;
    cursor: pointer;
    object-fit: cover;
    transition: all .2s ease-in-out;
}

a.img-cover img:hover {
    transform: scale(1.1);
}

#intro {
    position: relative;
    height: 300px;
    background-image: linear-gradient(#63cdda, #f1f2f6);
    z-index: -1;
}
#intro .text {
    padding: 1rem 5rem;
}
svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
}

.title {
    width: 100%;
}

footer {
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
    background-color: #000;
    color: #fff;
}

footer .intext-link{
    color: #fff;
}

/*style for project page*/
.project-container {
    position: relative;
    height: auto;
    width: 60%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.project-img {
    width: 100%;
}

.project-gif {
    width: 85.7%;
}

.project-screenshot {
    width: 63%;
}

.project-screenshot.over-img{
    position: absolute;
    top: 13.8%;
    left: 25.2%;
}

.scalable {
    transition: all .2s ease-in-out;
}

.scalable:hover{
    transform: scale(2);
    z-index: 1;
}

.parent{
    position: relative;
}

.over-img{
    position: absolute;
    top: 11.8%;
    left: 7.8%;
}

th {
    text-align: center;
}

td {
    padding: 2px 5px;
    text-align: center;
    border-left: 1px solid #ccc;
}

/*breakpoints*/
@media (max-width:900px) {
    h1 {
      font-size: 2em;
    }
  
    h2 {
        font-size: 1.8em;
    }
    
    h3 {
        font-size: 1.3em;
    }

    h4 {
        font-size: 1.1em;
    }

    p {
        font-size: 1rem;
        line-height: 1.4rem;
    }

    .main{
        margin: 0;
        padding: 2rem 2rem;
    }

    .sub-grid-box {
        width: auto;
    }

    .project-container{
        width: 80%;
    }

    .top-logo {
        left: 11%;
        top: 30%;
        width: 70%;
    }
}

@media (max-width:650px){
    ul {
        top: 0;
        left: 0;
        position: relative;
    }

    a.nav-button {
        font-size: 1rem;
        margin: 0.7rem 1rem;
        padding: 0.1rem 1rem;
    }

    .main {
      margin: 0;
      padding: 1rem 1rem;
    }

    #intro {
        height: auto;
    }

    #intro .text {
        padding: 2rem;
    }

    .sub-grid-box {
        margin: 0.5rem;
    }

    .project-container{
        width: 90%;
    }

    section {
        margin: 1rem 0.5rem;
    }
}

/*style for gallery page*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}